<div class="container">
    <div style="text-align:left">
         <h1>Consumer Details :</h1>
    </div>
    <br/>
    <form #userForm="ngForm" (ngSubmit)= "onSave(userForm.value)">
        
        
        <div class="form-group">
            <label>Name :</label>
            <span>
            <input style="border-radius:3px" type="text" required placeholder=" First Name" name="Name" ngModel>
            <input style="border-radius:3px" type="text" required placeholder=" Middle Name" name="Name" ngModel>
            <input style="border-radius:3px" type="text" required placeholder=" Last Name" name="Name" ngModel>
            </span>
        </div> 

        <div class="form-group">
            <label>Email :</label>
            <input type="text" style="border-radius:3px;width: 550px" #mailRef="ngModel" pattern="^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$" required 
            placeholder="Mail Address" name="Email" ngModel>  
            <span *ngIf="mailRef.errors && (mailRef.dirty || mailRef.touched)">
                <span style="color:red">*</span>
                <span [hidden]="!mailRef.errors.pattern">
                    Please Enter a valid Email Id
                </span>
            </span>
        </div>

        <div class="form-group">
            <label>Phone :</label>
            <input type="text" #phRef="ngModel" pattern="\(?\d{3}\)?-? *\d{3}-? *-?\d{4}$"placeholder="Phone Number" style="width: 545px; border-radius:3px " name="Phone" ngModel>
            <span *ngIf="phRef.errors && (phRef.dirty || phRef.touched)">
                <span style="color:red">*</span>
                <span [hidden]="!phRef.errors.pattern">
                    Please Enter a valid 10 Digit Phone Number
                </span>
            </span>    
        </div>
        <div class="forms-group">
           <label> Status :</label>
           <select name="Status" style="width: 150px;border-radius:3px;">
                <option value="1">Active</option>
                <option value="0">Inactive</option>
           </select> 
        </div>
        <br/>
        <div class="form-group">
            <label>Handle:</label>
            <input type="text" required placeholder="Consumer unique id " name="Handle" style="width: 545px;border-radius:3px" ngModel>    
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
        </form>
</div> 